html {
    background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
}

img {
    display: block;
    padding-top: 10vh;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    min-width: 40px;
    max-width: 100px;
}

.main {
    text-align: center;
    font-family: sans-serif
}
