html {
    background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
}

.footertext {
    padding-right: 10px;
}

.main {
    text-align: center;
    font-family: sans-serif;
}

.quoteCenter {
    width: 60%;
    max-width: 500px;
    margin: 0 auto;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: grey;
    text-align: right;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

::selection{
    background: gold;
}

::moz-selection {
    background: gold;
}

h2 {
    color: grey;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
    margin: 0 0 72px;
    text-align: center;
}

img {
    display: block;
    padding-top: 10vh;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    min-width: 60px;
    max-width: 130px;
}

.quotes {
    border-collapse: collapse;
    font-family: 'Raleway', sans-serif;
    width: 70%;
    margin: 0 auto; 
}

.quotes td, .quotes th {
    /*border: 1px solid #ddd;*/
    padding: 8px;
}

.quotes tr:nth-child(even) {
    background-color: #f2f2f2;   
}

.quotes tr:nth-child(odd) {
    background-color: #fff;
}

.quotes tr:hover {background-color: #ddd;}

.quotes th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: dimgrey;
    color: white;
}

@media only screen and (max-width: 600px) {
    .quoteCenter {
        width: 80%;
        margin: 0 auto;
    }
}
